{%load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      <link rel="stylesheet" href="{%static 'main/css/main.css'%}">
</head>
<body>
 <a href="{% url 'index' %}" class="active">
    <button>Back</button>
</a>
 <a href="{% url 'employees-list' %}" class="active">
    <button>Filter people</button>
</a>
 <a href="{% url 'teams-list' %}" class="active">
    <button>See all projects</button>
</a>
</body>
</html>